.wrapper, .row {
	*zoom: 1;
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
	content: " ";
	display: table;
}
.wrapper:after, .row:after {
	clear: both;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	height: auto !important;
	max-width: 100%;
	width: auto;
}

.wrapper {
	margin: 0 auto;
	width: 95%;
}

[class*="col-lg-"]{
	float: left;
	min-height: 1px;
	padding: 16px;
	width: 100%;
}

[class*="col-md-"]{
	float: left;
	min-height: 1px;
	padding: 16px;
	width: 100%;
}

[class*="col-"]{
	float: left;
	min-height: 1px;
	padding: 16px;
	width: 100%;
}

@media only screen and (min-width: 1025px){
	.wrapper {
		max-width: 1920px;
		width: 95%;
	}
	.col-lg-1 {
		width: 8.33333%;
	}
	.col-lg-2 {
		width: 16.66667%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33333%;
	}
	.col-lg-5 {
		width: 41.66667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33333%;
	}
	.col-lg-8 {
		width: 66.66667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33333%;
	}
	.col-lg-11 {
		width: 91.66667%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 1024px){
	.wrapper {
		max-width: 1920px;
		width: 95%;
	}
	.col-md-1 {
		width: 8.33333%;
	}
	.col-md-2 {
		width: 16.66667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33333%;
	}
	.col-md-5 {
		width: 41.66667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33333%;
	}
	.col-md-8 {
		width: 66.66667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33333%;
	}
	.col-md-11 {
		width: 91.66667%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 480px){
	.wrapper {
		max-width: 1920px;
		width: 95%;
	}
	.col-1 {
		width: 8.33333%;
	}
	.col-2 {
		width: 16.66667%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33333%;
	}
	.col-5 {
		width: 41.66667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33333%;
	}
	.col-8 {
		width: 66.66667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33333%;
	}
	.col-11 {
		width: 91.66667%;
	}
	.col-12 {
		width: 100%;
	}
}

.wrapper, .row {
	*zoom: 1;
}

.wrapper:before, .row:before, .wrapper: after, .row:after {
	content: " ";
	display: table;
}

.wrapper:after, .row:after {
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
}

p {
	line-height: 24px;
}

body {
	background-color: #81e2a1;
}

.site-header, .site-footer {
	background-image: linear-gradient(to right, #438258, #60ba7e);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.site-spacer {
	background-color: #81e2a1;
	display: block;
	height: 40px;
}

.hero {
	background-color: #595959;
	background-image: url("../img/mara_hero.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	height: 600px;
	overflow: scroll;
}

.standard {
	background-color: #595959;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

@media only screen and (max-width: 1024px){
	.hero {
		background-image: none;
	}
}

.mara-image {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
}

@media only screen and (max-width: 1024px){
	.mara-image {
		display: block;
	}
}

.site-footer, .site-footer-2 {
	text-align: center;
}

button {
	background-color: #60ba7e;
	border: 2px solid #60ba7e;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 16px;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 1025px){
	button {
		display: flex;
		width: 25%;
	}
}

.large-header-nav, .large-header-nav-list {
	display: none;
	list-style-type: none;
}

@media only screen and (min-width: 750px){
	.large-header-nav, .large-header-nav-list {
		display: flex;
		left: 12px;
		margin-left: auto;
		position: relative;
		bottom: 26px;
	}
}

.large-header-nav, a {
	color: white;
	padding: 8px;
	text-decoration: none;
}

a:hover {
	background-color: #595959;
	color: white;
}

.menu-icon {
	float: right;
	position: relative;
	top: -42px;
}

@media only screen and (min-width: 750px){
	.menu-icon {
		display: none;
	}
}

.dropdown-content {
	background-color: #595959;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
	margin-left: auto;
	position: relative;
	width: 170px;
	z-index: 1;
}

.dropdown-content a {
      color: white;
      display: block;
      padding: 12px 16px;
      text-decoration: none; }

.menu-item-dropdown:hover .dropdown-content {
	display: block;
}

.art-music-more-body {
	background-color: #F5E6CC;
	
}

.site-spacer-2 {
	background-color: #F5E6CC;
	display: block;
	height: 40px;
}

.site-header-2, .site-footer-2 {
	background-image: linear-gradient(to right, #A64Ac9, #17e9e0);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
}

.art-music-more-wrapper {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.a-2:hover {
	background-color: #fccd04;
}

.a-3 {
	display: block;
}

.a-3:hover {
	background-color: #60ba7e;
}

.a-4 {
	color: black;
}

.art-music-more-menu {
		display: flex;
		float: right;
		left: 16px;
		list-style-type: none;
		margin-left: auto;
		position: relative;
		bottom: 9px;
}

.show {
	display: block;
}

.app-card {
	background-color: #60ba7e;
	border: 3px solid #595959;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	padding-bottom: 16px;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}

.app-img {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
